.stacks {
    margin-top: 20px;
}

.stacks h3 {
    font-size: 18px;
    margin-top: 1opx;
}

.stacks ul {
    list-style: none;

    display: flex;
    gap: 10px;
}

.stacks ul li {
    border:1px solid black;
    border-radius: 3px;
    padding: 7px 20px;
    margin-top: 10px;
}

.html {
    background-color: brown;
    color: white;
    font-weight: 600;
}

.css {
    background-color: rgb(249, 255, 133);
    color: white;
    font-weight: 600;
}

.windows {
    background-color: rgb(244, 184, 194);
    color: white;
    font-weight: 600;
}

.visual {
    background-color: darkolivegreen;
    color: white;
    font-weight: 600;
}